body {
	background-color: #f4f6f6;
	height: 100%;
}

h1 {
	color: #040506 ;
}

.a{
	background-color: darkgrey;
	color: green;
}
  
  .alert.success {
	  background-color: #4CAF50;
	  visibility: hidden;
  }	  
  .alert.info {
	  background-color: #2196F3;
		visibility: hidden;
	}
  .alert.warning {
	  background-color: #ff9800;
	visibility: hidden;
	}
  
  .closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  .closebtn:hover {
	color: black;
  }


footer {
  position: fixed;
  width: 100%;
  color: black;
  text-align: center;
}